require("@nomiclabs/hardhat-waffle");
require('@nomiclabs/hardhat-ethers');
require('@openzeppelin/hardhat-upgrades');
require('@openzeppelin/hardhat-defender');
require("hardhat-gas-reporter");

// Go to https://www.alchemyapi.io, sign up, create
// a new App in its dashboard, and replace "KEY" with its key
const ALCHEMY_API_KEY = "";

// To export your private key from Metamask, open Metamask and
// go to Account Details > Export Private Key
// Be aware of NEVER putting real Ether into testing accounts
const PRIVATE_KEY = "";

const POLYGONSCAN_API_KEY = '';

/**
 * @type import('hardhat/config').HardhatUserConfig
 */
module.exports = {
  solidity: "0.8.19",
  defender: {
    apiKey: DEFENDER_TEAM_API_KEY,
    apiSecret: DEFENDER_TEAM_API_SECRET_KEY
  },
  networks: {
    mumbai: {
      url: `https://polygon-mumbai.g.alchemy.com/v2/${ALCHEMY_API_KEY}`,
      accounts: [`${PRIVATE_KEY}`]
    },
    polygon: {
        url: `https://polygon-mainnet.g.alchemy.com/v2/${ALCHEMY_API_KEY}`,
        accounts: [`${LIVE_PRIVATE_KEY}`]
    },
    ethereum: {
        url: `https://eth-mainnet.g.alchemy.com/v2/${ALCHEMY_ETH_API_KEY}`,
        accounts: [`${LIVE_PRIVATE_KEY}`]
    }
  },

  etherscan: {
    apiKey: {
      polygonMumbai: '',
      polygon: '',
      mainnet: ''
    }
  },

  gasReporter: {
    currency: 'USD',
    token: 'ETH',
    coinmarketcap: '${API_KEY}',
    gasPriceApi: 'https://api.etherscan.io/api?module=proxy&action=eth_gasPrice'
  }
};
